<html>
    <head>
    	<title>A Page of Poetry</title>
    <head>

    <body>

    	<div>	
	    	<h1><a href="">Peach Tea Nihilism</a></h1>
	    	<p>It declares, “win NOTHING instantly” <br />
			as if instantly, you could grab <br />
			nothing, cradle it, caress <br />
			its empty form and <br />
			marvel at the unsmell, <br />
			the untaste. <br />
			open this cap and <br />
			you  might find <br />
			Nothing <br />
			the tension of opposites <br />
			relieved or relived: <br />
			a thousand iterations of everything <br />
			until all possibilities <br />
			sleep and <br />
			you remain <br />
			with Nothing.</p>
			<p>published: 16.04.15, 14:41</p>
		</div>

		<div>
			<h2><a href="">SECOND POEM HERE</a></h2>
			<p>SECOND POEM BODY TEXT HERE</p>
		</div>

	</body>
</html>